@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter&family=Urbanist&display=swap');

@layer utilities{
  .container{
    @apply max-w-[540px] md:max-w-[720px] lg:max-w-[960px] m-auto
  }
}

@layer components {
  .btn-primary{
    @apply py-3 px-4 hover:bg-blue-800 bg-[#33468A] active:bg-blue-700 text-white rounded-md;
  }
  .h2{
    @apply font-semibold font-urbanist text-4xl
  }
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}
footer {
font-family: 'Urbanist', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 28px;
}

@media (max-width: 640px){

  .slide-bottom {
    -webkit-animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }
}


@-webkit-keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
  }

  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}

@keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
  }

  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}
